body {margin: 0;}
#container {width: 100%; margin: 0 auto;}
#container #input-form {text-align: center;}ild
#user-table {width: 100%; margin: 0 auto; text-align: center; font-size:1em;}
#input-form {margin-top: 10px; margin-bottom: 10px;}
#keyword {font-size: 1.em;}
#keyword2 {font-size: 1em;}


#user-table {border-collapse: collapse;}
#user-table > thead > tr { background-color: #333; color:#fff; }
#user-table > thead > tr > th { padding: 2px; width: 20%; }
#user-table > tbody > tr > td { border-bottom: 1px solid gray; padding:1.0px; font-size:0.8em; text-align:center; }
#user-table > tbody > tr > td:nth-child(5) {background-color:yellow;}
