#container {width: 95%; margin: 0 auto;}
#container #input-form {text-align: center;}
#user-table {margin: 0 auto; text-align: center;}
#input-form {margin-top: 10px; margin-bottom: 10px;}

#user-table {border-collapse: collapse;}
#user-table > thead > tr { background-color: #333; color:#fff; }
#user-table > thead > tr > th { padding: 2px; width: 30px; }
#user-table > tbody > tr > td { border-bottom: 1px solid gray; padding:2px; }
