input {
    height: 100px;
    width: 100px;
    padding: 5px;
    margin: 5px;
    font-size: 0.5em;
}

body {
    text-align: center;
}
img {
    width: 80px;
    height: 80px;
    border-radius: 80%;
}

button {
    height: 150px;
    width: 100px;
    margin: 3px;
    padding: 3px;
    background-color: rgba(104, 99, 101, 0.301);
    border: none;
}
.icon {
    font-size: 0.5em;
    font-weight: 600;
    text-align: center;

}
* {
    color: black;
}