img {width: 100%;}

input {width:40%; height: 80px; margin: 4PX; font-size: 1em; background-color: rgb(231, 63, 63); border-radius: 10px; color: black ;}
body { -webkit-touch-callout:none;}
.img {pointer-events : none;}
