input {
    height: 150px;
    width: 150px;
    padding: 5px;
    margin: 5px;
    font-size: 1.5em;
    
}

body {
    text-align: center;
}
img {
    width: 80px;
    height: 80px;
    border-radius: 80%;
}

button {
    height: 80px;
    width: 130px;
    margin: 3px;
    padding: 3px;
    border-radius: 10%;
}
.icon {
    font-size: 1em;
    font-weight: 600;
    text-align: center;

}

#b2 {
    background-color: rgb(198, 198, 240);
}

#b1 {
    background-color: rgb(192, 183, 192);
}
#f1 {
    background-color: rgba(156, 240, 201, 0.692);
}
#f2 {
    background-color: rgba(238, 178, 121, 0.849);
}

h2 {
    text-align: left;
}